@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
	height: 100%;
}

body {
	min-height: 100%;
	overflow: hidden;
	background-color: #FD5252;
}

.game-board {
	background-color: #FD5252;
	border-radius: 0.25rem;

	margin-bottom: 1.5em;
}

#top-middle, #bot-middle {
	border-left: 5px solid #E64B4B;
	border-right: 5px solid #E64B4B;
}

#mid-right, #mid-left {
	border-top: 5px solid #E64B4B;
	border-bottom: 5px solid #E64B4B;
}

#mid-middle {
	border: 5px solid #E64B4B;
}

.cell:hover {
	background-color: #E64B4B;
	cursor: pointer;
}

h1, .button {
	font-family: 'PT Sans', sans-sans-serif;
	color: #D24545;
	font-weight: 700;
}

.button {
	color: #E64B4B;
	background-color: #FD5252;
	border-color: unset;
}

.button:hover {
	color: #933030;
	border-color: #933030;
}

/* ///////////////////////////////////////////////////////////////////// */
/* flex classes */
.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: row;
	flex-direction: row;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

/* ///////////////////////////////////////////////////////////////////// */
/* material drop shadow */
.mds {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.mds:hover {
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
